/* Apply styles to the whole body */
body {
    font-family: "Montserrat", sans-serif;
    background-image: url(./images/Pink\ Green\ Simple\ Creative\ Watercolor\ Blank\ Template\ Instagram\ Story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto; 
    max-width: 600px; 
    padding: 40px; 
}

/* Style the heading */
h1 {
    font-family: "Whisper", sans-serif;
    font-size: 5rem; 
    font-weight: 800;
    color: purple;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px; 
}

/* Style the recipe links */
p {
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    outline: 1px solid black;
    margin: 20px 0; 
}

/* Remove default underline from links */
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* Change link color on hover */
a:hover {
    color: #333; 
}
